* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#level-title {
    font-family: cursive;
    font-size: 3rem;
    color: white;
    margin: 5%;
}

#container {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.gameOver {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px;
    flex: 1;
    max-width: 200px;
    height: 20vw;
    max-height: 200px;
    border: 5px solid white;
    border-radius: 20%;
    opacity: 1;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px rgb(221, 25, 205);
    background-color: white;
}

.fadeEffect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
